In [31]:
# import libraries
import numpy as np
import pandas as pd

In [32]:
# import data
data = pd.read_csv('global.1751_2014.csv')
# check data
data

,Year,Total carbon emissions from fossil fuel consumption and cement production (million metric tons of C),Carbon emissions from gas fuel consumption,Carbon emissions from liquid fuel consumption,Carbon emissions from solid fuel consumption,Carbon emissions from cement production,Carbon emissions from gas flaring,Per capita carbon emissions (metric tons of carbon; after 1949 only)
0,Source: Tom Boden (Oak Ridge National Laboratory),Gregg Marland (Appalachian State University),and Bob Andres (Oak Ridge National Laboratory),NaN,NaN,NaN,NaN,NaN
1,1751,3,0,0.0,3.0,0.0,0.0,NaN
2,1752,3,0,0.0,3.0,0.0,0.0,NaN
3,1753,3,0,0.0,3.0,0.0,0.0,NaN
4,1754,3,0,0.0,3.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...
260,2010,9128,1696,3107.0,3812.0,446.0,67.0,1.32
261,2011,9503,1756,3134.0,4055.0,494.0,64.0,1.36
262,2012,9673,1783,3200.0,4106.0,519.0,65.0,1.36
263,2013,9773,1806,3220.0,4126.0,554.0,68.0,1.36
264,2014,9855,1823,3280.0,4117.0,568.0,68.0,1.36

In [33]:
# cut the unwanted data  and check data
data = data.iloc[1:,0:2]
data

,Year,Total carbon emissions from fossil fuel consumption and cement production (million metric tons of C)
1,1751,3
2,1752,3
3,1753,3
4,1754,3
5,1755,3
...,...,...
260,2010,9128
261,2011,9503
262,2012,9673
263,2013,9773
264,2014,9855

In [34]:
# select the data from 1987 to 2004 and check data
data = data[(data['Year']>='1986')&(data['Year']<='2004')].reset_index(drop=True)
data

,Year,Total carbon emissions from fossil fuel consumption and cement production (million metric tons of C)
0,1986,5583
1,1987,5725
2,1988,5936
3,1989,6066
4,1990,6074
5,1991,6142
6,1992,6078
7,1993,6070
8,1994,6174
9,1995,6305
10,1996,6448
11,1997,6556
12,1998,6576
13,1999,6561
14,2000,6733
15,2001,6893
16,2002,6994
17,2003,7376
18,2004,7743

In [35]:
# create new columns for total carbon emission in unit pg and atmospheric CO2 level in ppm and check data
data['Total carbon emission in pg'] = data['Total carbon emissions from fossil fuel consumption and cement production (million metric tons of C)'].astype(int)/1000
data['CO2 level in ppm'] = 347
data

,Year,Total carbon emissions from fossil fuel consumption and cement production (million metric tons of C),Total carbon emission in pg,CO2 level in ppm
0,1986,5583,5.583,347
1,1987,5725,5.725,347
2,1988,5936,5.936,347
3,1989,6066,6.066,347
4,1990,6074,6.074,347
5,1991,6142,6.142,347
6,1992,6078,6.078,347
7,1993,6070,6.070,347
8,1994,6174,6.174,347
9,1995,6305,6.305,347
10,1996,6448,6.448,347
11,1997,6556,6.556,347
12,1998,6576,6.576,347
13,1999,6561,6.561,347
14,2000,6733,6.733,347
15,2001,6893,6.893,347
16,2002,6994,6.994,347
17,2003,7376,7.376,347
18,2004,7743,7.743,347

In [36]:
# 1.1 
# initialization
# assume that the speed of transfer speed is stationary
k12, k21 = 105/740, 102/900 
# the initial value of CO2 in sea and atmosphere
N1, N2 = 740, 900
# year
year = 1987
# the total molar of material of atmosphere
n0 = 740*10**21/12/347
#  the emission of every year
gamma =data['Total carbon emission in pg']

In [44]:
# start iteration
for year in range(1987,2005):
    # calculate the change of CO2 in sea and atmosphere
    dN1 = -k12*N1 + k21*N2 + gamma[year-1986]
    dN2 = k12*N1 - k21*N2
    # update the CO2 in sea and atmosphere
    N1 += dN1
    N2 += dN2
    # update the CO2 level in ppm
    data['CO2 level in ppm'][year-1986] = N1*10**21/12/n0

# initialize value again to avoid the error by repeating the iteration
N1, N2 = 740, 900

# check data
data

,Year,Total carbon emissions from fossil fuel consumption and cement production (million metric tons of C),Total carbon emission in pg,CO2 level in ppm
0,1986,5583,5.583,347.000000
1,1987,5725,5.725,348.277804
2,1988,5936,5.936,349.632672
3,1989,6066,6.066,351.018167
4,1990,6074,6.074,352.376173
5,1991,6142,6.142,353.742265
6,1992,6078,6.078,355.056096
7,1993,6070,6.070,356.353864
8,1994,6174,6.174,357.691760
9,1995,6305,6.305,359.077733
10,1996,6448,6.448,360.512099
11,1997,6556,6.556,361.973696
12,1998,6576,6.576,363.420047
13,1999,6561,6.561,364.839695
14,2000,6733,6.733,366.326347
15,2001,6893,6.893,367.866413
16,2002,6994,6.994,369.427100
17,2003,7376,7.376,371.140276
18,2004,7743,7.743,372.980292

,Year,Total carbon emissions from fossil fuel consumption and cement production (million metric tons of C),Total carbon emission in pg,CO2 level in ppm
0,1986,5583,5.583,347.000000
1,1987,5725,5.725,348.277804
2,1988,5936,5.936,349.632672
3,1989,6066,6.066,351.018167
4,1990,6074,6.074,352.376173
5,1991,6142,6.142,353.742265
6,1992,6078,6.078,355.056096
7,1993,6070,6.070,356.353864
8,1994,6174,6.174,357.691760
9,1995,6305,6.305,359.077733
10,1996,6448,6.448,360.512099
11,1997,6556,6.556,361.973696
12,1998,6576,6.576,363.420047
13,1999,6561,6.561,364.839695
14,2000,6733,6.733,366.326347
15,2001,6893,6.893,367.866413
16,2002,6994,6.994,369.427100
17,2003,7376,7.376,371.140276
18,2004,7743,7.743,372.980292